{% extends "base.html" %}

{% block title %}viewbooks{% endblock %}
{% block content %}
<form method="POST" action="">   
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">BOOK_ID</th>
          <th scope="col">BOOK_NAME</th>
          <th scope="col">AUTHOR</th>
          <th scope="col">PUBLISHER</th>
          <th scope="col">COPIES</th>
          <th scope="col">ISSUED_COPIES</th>

        </tr>
      </thead>
    <tbody>
    {% for x in allbooks %}
      <tr>
        <th scope="row">{{x.id}}</th>
        <td>{{x.bookid}}</td>
        <td>{{x.bookname}}</td>
        <td>{{x.author}}</td>
        <td>{{x.publisher}}</td>
        <td>{{x.copies}}</td>
        <td>{{x.issuedcopies}}</td>
      </tr>
      {% endfor %}
     </tbody>
  </table> 
</form>
{% endblock %}